@model IEnumerable<FC.Models.Goal>

<tbody>
    <tr>
        <th>
            Гравець
        </th>
        <th>
            Команда
        </th>
        <th>
            Хвилина
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Player.ToString()
            </td>
            <td>
                @item.Player.Team.TeamName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minute)
            </td>
            <td>
                <button class="delete-goal-button" id="@item.GoalId">Видалити</button>
            </td>
        </tr>
    }
</tbody>

