@model IEnumerable<FC.Models.Player>

@{
    ViewBag.Title = "ShowAllPlayers";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Всі гравці</h2>
@Html.ActionLink("Створити нового","CreatePlayer")
@Html.Partial("PlayersTable")
